@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@400;700&family=Titillium+Web&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  width: 100%;
  height: 60px;
  display: flex;
  padding: 0 2rem;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 2px solid #ccc;
  background: rgba(255, 255, 255, 0.85);
  font-size: 18px;
  font-weight: bold;
  position: fixed;
  z-index: 2;
  top: 0px;
  
}

.a {
  position: relative;
  color: black;
  text-decoration: none;
  margin-top: 10px;
  margin-right: 100px;
  cursor: pointer;
}

.a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  background-color: black;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.a:hover::before {
  transform: scaleX(1);
}

.left {
  width: 65%;
  font-size: 23px;
}

.right {
  width: 35%;
  display: flex;
  justify-content: space-evenly;
}

main {
  margin-top: 80px;
  height: 550px;
  z-index: 2;
}

.text-block {
  font-size: 40px;
  position: absolute;
  top: 23%;
  left: 25%;
}

.text-block span {
  color: #80ffca;
}

.circle {
  width: 750px;
  height: 750px;
  border-radius: 50%;
  background: #f99335;
  z-index: -1;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.332), 0 4px 6px rgba(0, 0, 0, 0.195);
  margin-left: -190px;
  margin-top: 15px;
  background-image: url(../img/png-orange.png);
  background-repeat: no-repeat;
  position: relative;
  animation: rotation infinite 20s linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.main-block {
  height: 730px;
  background: #ff7676;
  z-index: -2;
  position: relative;
}

.main-block h1 {
  font-size: 45px;
  color: white;
  text-align: center;
  padding-top: 165px;
  padding-bottom: 15px;
}

.main-block p {
  font-size: 20px;
  color: white;
  text-align: center;
  padding-top: 5px;
}

.projects {
  height: 500px;
  text-align: center;
  margin-top: 100px;
  font-size: 25px;
}

.projects h1 {
  padding: 50px;
}

.slider {
  width: 65%;
  margin: auto;
}

.splide__track{
  height: 320px;
}

.wrapper {
  width: 260px;
  height: 300px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.box {
  height: 300px;
  width: 100%;
  border-radius: 20px;
}

.box a {
  height: 300px;
}
 
p {
  padding: 10px 0;
  font-size: 20px;
  font-weight: bold;
}

.b1 {
  background: #2400ff;  
}

.b2 {
  background: #00ff94;
}

.b3 {
  background: #ff00b8;
}

.b4 {
  background: #eada00;
}

.b5 {
  background: #ff8400;
}

.b6 {
  background: #e0002d;
}

.footer {
  margin-top: 160px;
  height: 150px;
  background: black;
  color: white;
}

.logos {
  margin-left: 42%;
  letter-spacing: 50px;
}

.logos img{
  width: 50px;
  height: 50px;
  margin-right: 50px;
  margin-top: 30px;
}

.logos a {
  text-decoration: none;
}

.name {
  margin-top: 10px;
  text-align: center;
}
